
#campaign-view {
    $tab_view_size: 30px;

    .reload-btn{
        width: 100%;
    }

    .file-list, .char-list {
        width: 100%;
        /*overflow-x: hidden;*/
        padding: 5px 10px;
        margin: 0;

        a {
            //width: auto;
            display: inline;
        }

        .close-btn {
            background-color: #00000000;
            padding: 0 10px;
        }

        .close-btn:hover {
            background-color: orangered;
            color: white;
        }
    }



    .sidebar-content-field {
        padding: 0;

    }

    #content-field {
        overflow: hidden;

        .tab-area {
            min-height: $tab_view_size;
            background-color: grey;
            width: 100%;
            margin: 0;
            padding-left: 5px;
            vertical-align: center;

            button {
                margin: 0;
            }

            .fileclose-btn {
                background-color: #00000000;
            }

            .fileclose-btn:hover {
                background-color: orangered;
                color: white;
            }

            .editor-tab {
                background-color: lightgrey;
                height: 100%;
                display: inline-block;

                margin-left: 5px;
                margin-top: 0;
                margin-bottom: 0;
                overflow: hidden;

                //margin: 0;

                button {
                    background-color: #00000000;
                    border: none;
                    height: 100%;
                    margin: 0;
                }
            }

            .editor-tab.active-tab {
                background-color: lightsteelblue;
            }

        }

        .editor-area {
            height: calc(100% - #{$tab_view_size});
            max-height: calc(100% - #{$tab_view_size});
            width: 100%;

            .fileclose-btn {
                background-color: #00000000;
            }

            .fileclose-btn:hover {
                background-color: orangered;
                color: white;
            }

            .editor-container {
                $editor-topbar-height: 30px;

                .editor-topbar {
                    min-height: $editor-topbar-height;
                    padding-left: 10px;

                    details {
                        display: inline-block;
                        margin-right: 30px;
                    }

                    button {
                        border: none;
                        height: 100%;
                        margin: 0;
                        vertical-align: center;
                    }

                    .editor-drag-handle {
                          cursor: move;
                    }
                }

                .editor-content{
                    height: calc(100vh - 40px - #{$tab_view_size} - #{$editor-topbar-height});
                    .jsoneditor {
                        //min-height: 700px;
                        height: 100%;
                        overflow: auto;
                        padding-bottom: 50px;

                        .jsoneditor-outer {

                        }
                    }

                    .char-display-view, .char-json-view {
                        //height: calc(100vh - 100px);
                        height: 100%;
                        overflow: auto;

                    }

                    .char-json-view {
                        //padding-bottom: 50px;
                    }

                    .char-ace-view {
                        height: calc(100vh - 45px);

                        .char-ace-view-editor {
                            position: relative;
                            width: calc(100%);
                            height: calc(100% - 80px);
                        }
                        .char-ace-view-status {
                            position: relative;
                            width: calc(100%);
                            padding: 0 10px;
                        }
                        .char-ace-view-status.valid {
                            color: green;
                        }
                        .char-ace-view-status.invalid {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}