@import '../../cq-prolyfill-mixin';

.character-view {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    @include cq-prolyfill("width <= 800px") {
		/* Styles for .element if its container is at least 100px wide */
        display: block;
        grid-template-columns: auto;
	}

    //details, div {}
    .char-grid-item {
        //width: 50%;
    }

    details.view-pane {

        border-style: solid;
        border-radius: 10px;
        border-color: grey;
        max-height: 1000px;
        overflow: auto;

        summary {
            height: 30px;
            background-color: silver;

        }

        summary.view-pane-header {
            border-radius: 8px;
        }

        textarea {
            width: 100%;
            resize: none;
        }

        .details-content {
            padding: 5px;

            td {
                padding: 5px 5px;
            }

            th {
                padding: 10px 5px;
            }
        }
        .sub-content {
            padding-left: 15px;
        }
    }

    .label {
        font-weight: bold;
    }

    .char-header {
        //width: 100%;
        //background-color: red;

    }



    .char-ability-list, .char-skill-list{
        table.details-content {
            td.base_stat {
                color: grey;
            }

            .modifier, .saving-throw, .score {
                text-align: center;
            }
        }
    }

    .char-equipment {
        .wallet {

            .sub-content {
                width: 100%;
                //display: grid;
                //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                .coin-field {
                    display: inline-block;
                    margin: 0 5px;

                    label {
                        display: inline;
                        //width: 0px;
                    }
                    input {
                        width: 60px;
                        //background-color: #00000000;
                        border: none;
                       margin: 0 5px;

                    }
                }
            }
        }
    }

    .grid-wide {
        grid-column-start: 1;
        grid-column-end: 3;
    }


}



@media screen and (max-width: 640px) {
    .character-view {
        display: block;
        grid-template-columns: auto;
    }
}