

<div class="sidebar" id="lib-sidebar">
    <button class="btn-primary reload-btn" onclick="campaign_view_reload_dir()">Reload</button>
    <div id="sidebar-content" class="campaign-dir-sidebar sidebar-content">

        {% include "panes/campaign_view/sections/campaign_dir_manager.html" %}
        <hr/>
        {% include "panes/campaign_view/sections/loaded_char_manager.html" %}

    </div>

    {% include "panes/campaign_view/sections/quick_dice_roller.html" %}
    </div>

<script>
    let campaign_view_sidebar = null;

    window.addEventListener('pywebviewready', ()=>{
        campaign_view_sidebar = new Sidebar('lib-sidebar', 'content-field');

    });


</script>



