
<div class="sidebar-content-field" id="content-field">


    <div id="mod-editor-tab-area" class="tab-area">
        <div id="mod-editor-show-all-tab" class="editor-tab">
            <button onclick="extracted_file_show_editor('all')" class="filename-btn">Show All</button>
        </div>
        <span id="mod-editor-file-tabs"></span>

    </div>
    <div id="mod-editor-editor-area" class="editor-area"></div>

</div>


<script>

    let extracted_file_tab_area = $("#mod-editor-tab-area");
    let extracted_file_tabs = $("#mod-editor-file-tabs");
    let extracted_file_editor_area = $("#mod-editor-editor-area");

    let extracted_file_show_all_tab_btn = $("#mod-editor-show-all-tab");

    let extracted_file_is_showing_all_tabs = false;

    const mod_editor_opened_tabs = {};

    const tab_sorter = Sortable.create(extracted_file_tabs.get()[0], {
            // Changed sorting within list
        onUpdate: function (/**Event*/evt) {
            extracted_file_sort_editors_to_tab_order();
        },
        animation: 150
    });

    const editor_sorter = Sortable.create(extracted_file_editor_area.get()[0], {
            // Changed sorting within list
        onUpdate: function (/**Event*/evt) {
            extracted_file_sort_tabs_to_editor_order();
        },
        {#handle: '.editor-topbar',#}
        handle: '.editor-drag-handle',
        animation: 150
    });

    async function send_editor_to_new_window (path) {
        await mod_editor_opened_tabs[path].data_obj.dump_state();
        await py.exec(`
            import time
            new_window = viewport.windows.new_window(
                '/pages/child/editor',
                 viewport.windows.children.child_editor,
                 window_name=f_name
            )

            while not hasattr(new_window, 'js_open_file_handler'):
                time.sleep(.5)

            new_window.js_open_file_handler(f_name, f_path)
        `, {
            f_name: mod_editor_opened_tabs[path].name,
            f_path: path,
        });
    }

    async function send_editor_to_window(path, win_uid) {
        await mod_editor_opened_tabs[path].data_obj.dump_state();
        await py.exec(`
            window = viewport.windows[uid]
            window.js_open_file_handler(f_name, f_path)
            window.restore()
        `, {
            f_name: mod_editor_opened_tabs[path].name,
            f_path: path,
            uid: win_uid,
        });
    }


    // Context Menu:
    // some build handler to call asynchronously
    async function createWindowsMenuInfo(window_dict, name, path) {
        return {
            callback: function(key, options) {
                let m = "clicked: " + key;
                console.log(m);
                let keys = key.split('/');
                if (keys[0] === "move_tab_to_window"){
                    if (keys[1] === "--new") {
                        send_editor_to_new_window(path);
                    } else {
                        send_editor_to_window(path, keys[1]);
                    }
                }
            },
            items: context_menu_nesting({
                "move_tab_to_window": {name: "Open in Alternate Window", items: window_dict},
                "close": {name: "Close", icon: "fa-close"},
            })
        };
    }
    // some asynchronous click handler
    {#$('.single-editor-tab[data-path="{{ path }}"] .filename-btn').on('mouseup', async function(e){#}
    {#$('.filename-btn').on('click', async function(e){#}
    /**
     * @param {Event} e
     */
    async function editor_tab_context_menu(e){
        e.preventDefault();
        if (e.button !== 2) {
            return;
        }

        {#let f_name = $(e.target).parents('.single-editor-tab').get()[0].getAttribute('data-name');#}
        let f_name = $(e.target).parents('.single-editor-tab').attr('data-name');
        {#let f_path = $(e.target).parents('.single-editor-tab').get()[0].getAttribute('data-path');#}
        let f_path = $(e.target).parents('.single-editor-tab').attr('data-path');

        console.log(f_name);
        console.log(f_path);

        let $this = $(this);
        console.log("hello");
        let window_selections = await py.exec(`
            retVal = {
                '--new': {
                    "name": f"--New Window--"
                }
            }

            count = 1
            for key, value in viewport.windows.items():
                print(my_uid)
                print(value.uid)
                if 'editor' not in value.app_flags or my_uid == value.uid:
                    continue

                retVal[key] = {
                    "name": f"{count}) {value.title}"
                }
                count += 1

            return retVal

        `, {my_uid: window.uid});

        console.log(e.target);
        let menu_info = await createWindowsMenuInfo(window_selections, f_name, f_path);
        {#console.log(menu_info);#}
        // store a callback on the trigger
        $this.data('menu_info', menu_info, "");
        let _offset = $this.offset(),
            position = {
                x: _offset.left + 10,
                y: _offset.top + 10
            }
        // open the contextMenu asynchronously
        $this.contextMenu(position);
    }


</script>
<script src="/static/scripts/file_editors/editor_data_base.js"></script>
<script src="/static/scripts/file_editors/json_file.js"></script>
<script src="/static/scripts/file_editors/character_file.js"></script>
<script src="/static/scripts/file_editors/pdf_file.js"></script>
<script src="/static/scripts/file_editors/creature_editor.js"></script>
<script>

    function extracted_file_open_dialog() {
        py.exec(`import os; return os.path.abspath(game.current.dir_path)`)
        .then(async(dir_path)=>{await py.files.file_dialog(dialog_type=10, directory=dir_path, allow_multiple=false)
            .then(async(file_path)=>{
                for(let i = 0; i < file_path.length; i++) {

                    let path_str = file_path[i].replace(/\\/g, '/');
                    let path_arr = path_str.split('/');
                    extracted_file_load(path_arr[path_arr.length-1], path_str);
                }
            });
        });
    }

    function extracted_file_load(name, path) {

        let original_path = path;
        {#path = path.replace("?char", "").replace("?creature", "");#}

        if (mod_editor_opened_tabs.hasOwnProperty(path)) {
            console.log("File already open...");
            extracted_file_show_editor(path);

            return;
        }


        {#console.log(`Loading ${name}: ${path}`);#}
        // Load Tab:
        $.post("/panes/campaign_view/components/editor_tab", {name: name, path: path}, (data, status) => {
            let tab_elem = elem_from_src(data);
            tab_elem.name = name;
            tab_elem.path = path;
            tab_elem.original_path = original_path;

            $(tab_elem).on('mouseup', editor_tab_context_menu);
            extracted_file_tabs.get()[0].appendChild(tab_elem);
            {#console.log($('.filename-btn'));#}

            $.contextMenu({
                selector: `.single-editor-tab[data-path="${path}"]`,
                trigger: 'none',
                build: function($trigger, e) {
                    e.preventDefault();
                    console.log($trigger.data('menu_info'));

                    if (typeof $trigger.data('menu_info') === 'undefined') {
                       return {items: {"windows": {name: "Edit"}}}
                    }

                    // pull a callback from the trigger
                    return $trigger.data('menu_info');
                }
            });

            {#extracted_file_get_tab(path).#}

            mod_editor_opened_tabs[original_path] = {
                name: name,
                path: original_path,
                type: 'unknown',
                data_obj: null,
                elem_container: null
            };

            if (path.endsWith(".json")) {
                mod_editor_opened_tabs[path].type = 'json';
                _extracted_file_load_new_editor(name, path, "/panes/campaign_view/editors/json_editor", JsonFileEditorData);
            {# } #}
            {#else if (path.endsWith(".pdf")) {#}
            {#    mod_editor_opened_tabs[path].type = 'pdf';#}
            {#    _extracted_file_load_new_editor(name, path, "/panes/campaign_view/editors/generic_editor", PdfEditorData);#}

            } else if (original_path.endsWith("?char")) {
                mod_editor_opened_tabs[path].type = 'character';
                _extracted_file_load_new_editor(name, path, "/panes/campaign_view/editors/character_editor", CharacterEditorData);

            } else if (original_path.endsWith("?creature")) {
                mod_editor_opened_tabs[path].type = 'character';
                _extracted_file_load_new_editor(name, path, "/panes/campaign_view/editors/json_editor", CreatureEditorData);

            } else {
                mod_editor_opened_tabs[path].type = 'generic';
                _extracted_file_load_new_editor(name, path, "/panes/campaign_view/editors/generic_editor", EditorDataBase);
            }

        });

    }

    function extracted_file_get_tab(path) {
        if (!mod_editor_opened_tabs.hasOwnProperty(path)) {
            console.log(`'${path}' not opened...`);
            return null;
        }

        return extracted_file_tabs.children(`div[data-path="${path}"]`);
    }

    function extracted_file_get_editor(path) {
        if (!mod_editor_opened_tabs.hasOwnProperty(path)) {
            console.log(`'${path}' not opened...`);
            return null;
        }

        return extracted_file_editor_area.children(`div[data-path="${path}"]`);
    }

    function extracted_file_show_editor(path) {
        if (path !== "" && path !== "all" && !mod_editor_opened_tabs.hasOwnProperty(path)) {
            console.log(`'${path}' not opened...`);
            return;
        }

        for (const [key, value] of Object.entries(mod_editor_opened_tabs)) {
            {#console.log(key);#}
            if (key === path || path === "all") {
                {#console.log("to show");#}
                extracted_file_get_editor(key).show();

                let drag_handle_elem = $(`.editor-drag-handle[data-for-path='${key}']`);

                if (path !== "all") {
                    extracted_file_get_tab(key).addClass('active-tab');
                    drag_handle_elem.hide();

                } else {
                    extracted_file_get_tab(key).removeClass('active-tab');
                    drag_handle_elem.show();
                }
            }
            else {
                {#console.log("to hide");#}
                extracted_file_get_editor(key).hide();
                if (key !== "" && key !== "all" && mod_editor_opened_tabs[key] !== null && mod_editor_opened_tabs[key].data_obj !== null) {
                    mod_editor_opened_tabs[key].data_obj.on_switch_from();
                }

                extracted_file_get_tab(key).removeClass('active-tab');
            }
        }
        if (path !== "" && path !== "all" && mod_editor_opened_tabs[path] !== null && mod_editor_opened_tabs[path].data_obj !== null) {
            mod_editor_opened_tabs[path].data_obj.on_switch_to();
        }


        extracted_file_show_all_tab_btn = $("#mod-editor-show-all-tab");
        if (path === "all") {
            console.log("showing all");
            extracted_file_is_showing_all_tabs = true;
            extracted_file_show_all_tab_btn.addClass("active-tab");

        } else {
            extracted_file_show_all_tab_btn.removeClass("active-tab");
            extracted_file_is_showing_all_tabs = false;
        }

        window.cqApi.reevaluate(1);
    }

    function extracted_file_sort_editors_to_tab_order() {

        let path_order = extracted_file_tabs.children('div.editor-tab').map((i, el)=>{

            console.log(el);
            {#return el;#}
            return el.getAttribute('data-path');

        }).get();


        console.log(path_order);

        extracted_file_editor_area.children('div.editor-container').sort(function (a, b) {

            let index_a = path_order.indexOf($(a).data('path'));
            let index_b = path_order.indexOf($(b).data('path'));

            {#console.log(index_a);#}
            {#console.log(index_b);#}

            return (index_a < index_b) ? -1 : (index_a > index_b) ? 1 : 0;

        }).appendTo(extracted_file_editor_area);

    }

    function extracted_file_sort_tabs_to_editor_order() {
        let path_order = extracted_file_editor_area.children('div.editor-container').map((i, el)=>{

            return el.getAttribute('data-path');

        }).get();

        console.log(path_order);

        extracted_file_tabs.children('div.editor-tab').sort(function (a, b) {

            let index_a = path_order.indexOf($(a).data('path'));
            let index_b = path_order.indexOf($(b).data('path'));

            {#console.log(index_a);#}
            {#console.log(index_b);#}

            return (index_a < index_b) ? -1 : (index_a > index_b) ? 1 : 0;

        }).appendTo(extracted_file_tabs);

    }

    function extracted_file_close(path) {
        if (!mod_editor_opened_tabs.hasOwnProperty(path)) {
            console.log(`'${path}' not opened...`);
            return;
        }


        if (mod_editor_opened_tabs[path].data_obj !== null) {
            mod_editor_opened_tabs[path].data_obj.on_close();
        }

        extracted_file_get_tab(path).remove();
        extracted_file_get_editor(path).remove();

        {#console.log(mod_editor_opened_tabs[path].tab());#}
        {#tab_area.children(`div[data-path="${path}"]`).remove();#}
        delete mod_editor_opened_tabs[path];
    }

    window.addEventListener('pywebviewready', async ()=>{
        if (await py.exec(`return game.current.is_dm`)) {
            return;
        }

        (await py.campaign.character.get_loaded_characters()).forEach((item, index)=>{
            py.campaign.character.get_char_attr(item, 'name').then((char_name)=>{
                extracted_file_load(char_name, item + "?char");
            });
        });
    });


</script>