$sidebar-width: 300px;

.drag-handle{
    width: 6px;
    height: 100%;
    background-color: black;
    cursor: e-resize;
    float: right;

}


.sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    width: $sidebar-width;
}

div.sidebar-content {
    margin: 0;
    padding: 20px;
    width: calc(100% - 6px);
    //height: calc(100vh - 70px);
    float: left;
    overflow: scroll;
    overflow-wrap: unset;
}

div.campaign-dir-sidebar {
    height: calc(100vh - 320px);
}

div.quick-dice-area {
    position: absolute;
    padding: 5px;
    bottom: 0;
    width: calc(100% - 6px);
    height: 250px;

    .quick-dice-buttons {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        button {
            display: block;
            width: 1fr;
        }
    }

    .quick-dice-text {
        width: 100%;
        text-align: center;

        input {
            width: calc(100% - 50px);
        }

        button {
            width: 40px;
        }
    }

    .quick-dice-result {
        width: 100%;
        //height: 50px;
        text-align: center;
        vertical-align: center;
        font-weight: bold;
        font-size: 80px;
    }

    .quick-dice-crit {
        width: 100%;
        text-align: center;
        vertical-align: center;
        font-weight: bold;
        font-size: 50px;
    }

    .quick-dice-crit-success {
        color: greenyellow;
    }
    .quick-dice-crit-failure {
        font-size: 35px;
        color: red;
    }

}


div.sidebar-content a {
    display: block;
}


div.sidebar-content a:hover {
    background-color: #ffffff99;
    color: #5555ff;
}

div.sidebar-content summary:hover {
    background-color: #ffffff99;
    color: #5555ff;
}

div.sidebar-content a.sidebar-active {
    background-color: #ffffff;
}


.sidebar-content-field {
    position: absolute;
    right: 0;
    height: 100%;
    overflow: auto;
    padding: 10px;
    width: calc(100vw - #{$sidebar-width});

}