<details class="armor">
    <summary>{{ armor.name }}</summary>
    <div class="info">
        <div class="cost"><strong>Cost:</strong> {{ armor.cost }}</div>
        <div class="weight"><strong>Weight:</strong> {{ armor.weight }} lb.</div>
        <div class="weight"><strong>Rarity:</strong> {{ armor.rarity }}</div>
        <div class="damage_bonus"><strong>Base Armor Class:</strong> {{ armor.base_armor_class }}</div>
        <div class="damage_bonus"><strong>Max. Dexterity Mod:</strong> {{ armor.dexterity_mod_max }}</div>
        <div class="damage_bonus"><strong>Strength Req:</strong> {{ armor.strength_required }}</div>
        <div class="damage_bonus"><strong>Stealth Disadvantage:</strong> {{ armor.stealth_disadvantage }}</div>
    </div>
</details>