<details class="weapon">
    <summary>
        {{ weapon.name }} - {{ weapon.damage }}
        <div style="
            display: inline-block;
            float: right;
            padding: 0 20px;
        ">
            <button class="btn-outline-primary" onclick="quick_dice_roll_skill('{{ weapon.attack_modifier }}')">Roll Attack</button>
            <button class="btn-outline-primary" onclick="quick_dice_roll('{{ weapon.damage }}')">Roll Damage</button>
        </div>
    </summary>
    <div class="info">
        <div class="ability"><strong>Ability:</strong> {{ weapon.ability }}</div>
        <div class="attack_bonus"><strong>Attack Bonus:</strong> {{ weapon.attack_bonus }}</div>
        <div class="base_damage"><strong>Base Damage:</strong> {{ weapon.base_damage }}</div>
        <div class="cost"><strong>Cost:</strong> {{ weapon.cost }}</div>
        <div class="damage_bonus"><strong>Damage Bonus:</strong> {{ weapon.damage_bonus }}</div>
        <div class="damage_type"><strong>Damage Type:</strong> {{ weapon.damage_type }}</div>
        <div class="features_applied"><strong>Features Applied:</strong> {{ weapon.features_applied }}</div>
        <div class="is_finesse"><strong>Is Finesse:</strong> {{ weapon.is_finesse }}</div>
        <div class="properties"><strong>Properties:</strong> {{ weapon.properties }}</div>
        <div class="weight"><strong>Weight:</strong> {{ weapon.weight }} lb.</div>
    </div>
</details>