<details class="spell" data-spell-id="{{ spell.id }}">
    <summary class="spell-head">
        <span class="spell-head-section">
            {{ spell.name }}
        </span>
        <span class="spell-head-section">
            {{ af.tget(spell.level == 0, "Cantrip", "Level " + str(spell.level)) }}
        </span>
        <span class="spell-head-section spell-is-ritual">
            {{ af.tget(spell.ritual, "R", "") }}
        </span>
        <span class="spell-head-section spell-is-concentration">
            {{ af.tget(spell.get_concentration(), "C", "") }}
        </span>
        <span class="spell-head-section">
            {{ spell.casting_time }}
        </span>
        <span class="spell-head-section">
            {{ spell.casting_range }}
        </span>

        <span class="spell-head-section">
{#            {{ spell.duration }}#}
            {{
                af.tget(
                    spell.duration.startswith("Concentration, "),
                    spell.duration.replace("Concentration, ", ""),
                    spell.duration
                )
            }}
        </span>
        <span class="spell-head-section">
            {{ spell.get_short_component_string() }}
        </span>

        <span class="spell-head-section">
            {{ spell.magic_school }}
        </span>

        <span class="spell-head-section">
            {{ ", ".join(spell.classes) }}
        </span>

    </summary>

    <div class="spell-desc">
        {% if spell.ritual %}
            <p><strong>Can be performed as a ritual.</strong></p>
        {% endif %}
        {% if spell.get_concentration() %}
            <p><strong>Requires concentration to maintain.</strong></p>
        {% endif %}

        <p>{{ spell.get_desc_html()|safe }}</p>
    </div>

{#    {% if spell.higher_level != "" %}#}
{#        <div class="higher-level">#}
{#            {{ spell.higher_level }}#}
{#        </div>#}
{#    {% endif %}#}

    <div class="spell-info">
        {% for attr, name in {
            'source_str': "Spell Source",
            'casting_ability': "Casting Ability",
            'spell_save_dc': "Spell Save DC",
            'spell_attack_modifier': "Spell Attack Modifier"
        }.items() if hasattr(spell, attr) and type(getattr(spell, attr)) in [int, str] %}

            <div class="spell-info-section">
                <span class="label">{{ name }}: </span>
                {{ af.tget(attr == "casting_ability" , str(getattr(spell, attr)).capitalize(), str(getattr(spell, attr))) }}
            </div>

        {% endfor %}
    </div>
    <hr/>
    <div class="spell-info">


        <div class="spell-info-section"><span class="label">Casting Time: </span>{{ spell.casting_time }}</div>
        <div class="spell-info-section"><span class="label">Casting Range: </span>{{ spell.casting_range }}</div>
        <div class="spell-info-section"><span class="label">Duration: </span>{{ spell.duration }}</div>
        <div class="spell-info-section"><span class="label">Components: </span>{{ spell.get_component_string() }}</div>
        {% if spell.material_components %}
            <div class="spell-info-section"><span class="label">Required Materials: </span>{{ spell.materials }}</div>
        {% endif %}
        <div class="spell-info-section"><span class="label">School of Magic: </span>{{ spell.magic_school }}</div>
        <div class="spell-info-section"><span class="label">Available to: </span>
            {{ ", ".join(spell.classes) }}
        </div>
        <div class="spell-info-section"><span class="label">ID: </span>{{ spell.get_id() }}</div>
    </div>


</details>