<details class="spell" data-spell-id="{{ spell.id }}">
    <summary>
        {{ spell.name }} - Level {{ spell.level }}
        {% if spell.ritual %}
            <strong>R</strong>
        {% endif %}
        {% if spell.concentration %}
            <strong>C</strong>
        {% endif %}

    </summary>

    <div class="spell-desc">
        {% if spell.ritual %}
            <p><strong>Can be performed as a ritual.</strong></p>
        {% endif %}
        {% if spell.concentration %}
            <p><strong>Requires concentration to maintain.</strong></p>
        {% endif %}

        <p>{{ spell.desc }}</p>
    </div>

    {% if spell.higher_level != "" %}
        <div class="higher-level">
            {{ spell.higher_level }}
        </div>
    {% endif %}



    <dl class="spell-info">
        <div><span class="label">Casting Time: </span>{{ spell.casting_time }}</div>
        <div><span class="label">Casting Range: </span>{{ spell.casting_range }}</div>
        <div><span class="label">Duration: </span>{{ spell.duration }}</div>
        <div><span class="label">Casting Time: </span>{{ spell.casting_time }}</div>
        <div><span class="label">Components: </span>{{ spell.component_string }}</div>
        {% if spell.material_components %}
            <div><span class="label">Required Materials: </span>{{ spell.materials }}</div>
        {% endif %}
        <div><span class="label">School of Magic: </span>{{ spell.magic_school }}</div>
        <div><span class="label">Available to: </span>
            {% for s in spell.classes %}
                {{ s }},
            {% endfor %}
        </div>

    </dl>


</details>