<div class="character-view">
    {% include "components/character/sections/header.html" %}
    <div class="char-grid-item"> {# Left Side #}
        {% include "components/character/sections/abilities.html" %}
        {% include "components/character/sections/skills.html" %}
        {% include "components/character/sections/proficiencies.html" %}

    </div>
    <div class="char-grid-item"> {# Right Side #}
        {% include "components/character/sections/about.html" %}
        {% include "components/character/sections/features.html" %}

        {% with weapon_list = char.weapon_list %}
            {% include "components/character/sections/equipment.html" %}
        {% endwith %}
    </div>
{% include "components/character/sections/spells.html" %}
</div>