<div class="character-view">
    <div class="char-header left char-grid-item">
        <div class="char-name"><span class="label">Name:</span> {{ char.name }}</div>
        <div class="char-class-level"><span class="label">Class:</span> {{ char.classes_and_levels }}</div>
        <div class="char-class-level"><span class="label">Race:</span> {{ char.race.name }}</div>
        <div class="char-class-level"><span class="label">Alignment:</span> {{ char.alignment }}</div>
        <div class="char-class-level"><span class="label">Background:</span> {{ char.background }}</div>
    </div>
    <div class="char-header right char-grid-item">
        <div class="char-name"><span class="label">HP:</span> {{ char.hp_current }} / {{ char.hp_max }} </div>
        <div class="char-name"><span class="label">Speed:</span> {{ char.speed }} ft. </div>
        <div class="char-name"><span class="label">Armor Class:</span> {{ char.armor_class }} </div>
        <div class="char-name"><span class="label">Initiative:</span> {{ char.initiative }} </div>
{#        <div class="char-name"><span class="label">Inspiration:</span> {{ char.inspiration }} </div>#}
        {% if char.inspiration %}
                <div class="char-name"><em>Inspiration!</em></div>
        {% endif %}
    </div>

    <div class="char-grid-item"> {# Left Side #}
        <details class="char-ability-list view-pane" open>
            <summary class="view-pane-header">Ability Scores:</summary>
            <table class="details-content table">
                <tr class="">
                    <th class="label">Ability</th>
                    <th class="score">Score</th>
                    <th class="modifier">Modifier</th>
                    <th class="roll-check"></th>
                    <th class="saving-throw">Saving Throw</th>
                    <th class="roll-saving-throw"></th>
                </tr>
                {% for a in [
                    "strength",
                    "dexterity",
                    "constitution",
                    "intelligence",
                    "wisdom",
                    "charisma"
                ] %}
                    <tr class="ability a-{{ a }}">
                    <td class="label">{{ a.capitalize() }}:</td>
                    <td class="score">{{ char.get_char_attr(a).value }}</td>
                    <td class="modifier">{{ char.get_char_attr(a).modifier_str }}</td>
                    <td class="roll-check"><button class="btn-primary">Roll Check</button></td>
                    {% if a in char.saving_throw_proficiencies %}
                        <td class="saving-throw">{{ char.get_char_attr(a).saving_throw_str }}</td>
                    {% else %}
                        <td class="saving-throw">{{ char.get_char_attr(a).modifier_str }}</td>
                    {% endif %}
                    <td class="roll-saving-throw"><button class="btn-primary">Roll Saving Throw</button></td>
                    </tr>
                {% endfor %}
            </table>
        </details>

        <details class="char-skill-list view-pane" open>
            <summary class="view-pane-header">Skill Proficiencies:</summary>
            <table class="details-content table">
                <tr class="">
                    <th class="base_stat">Ability</th>
                    <th class="label">Skill</th>
                    <th class="modifier">Modifier</th>
                    <th class="roll-check"></th>
                    <th class="proficient">Proficiency</th>
                </tr>
            {% for s in [
                "acrobatics",
                "animal_handling",
                "arcana",
                "athletics",
                "deception",
                "history",
                "insight",
                "intimidation",
                "investigation",
                "medicine",
                "nature",
                "perception",
                "performance",
                "persuasion",
                "religion",
                "sleight_of_hand",
                "stealth",
                "survival"
            ] %}
                <tr class="skill {{ s }}">
                    <td class="base_stat">{{ char.get_char_attr(s).base_ability.capitalize()  }}</td>
                    <td class="label"> {{ s.title().replace("_", " ") }}</td>
                    <td class="modifier">{{ char.get_char_attr(s).value_str }}</td>
                    <td class="roll-check"><button class="btn-primary">Roll Check</button></td>
                    {% if s in char.skill_expertise %}
                        <td class="proficient">Expert</td>
                    {% elif s in char.all_skill_proficiencies %}
                        <td class="proficient">Proficient</td>
                    {% else %}
                        <td class="proficient"></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        </details>

        <details class="class-prof-list view-pane" open>
            <summary class="view-pane-header">
                Other Proficiencies:
            </summary>
            <div class="details-content">
                <div class="weapon-profs">
                    <div class="label">
                        Weapons:
                    </div>
                    <div class="content">
                    {% for w in char.weapon_proficiencies %}
                            {{ w.name }},
                    {% endfor %}
                    </div>
                </div>

                <div class="other-profs">
                    <div class="label">
                        Other Proficiencies:
                    </div>
                    <div class="content">
                        {{ char.proficiencies_text.title() }}
                    </div>
                </div>
            </div>
        </details>

    </div>
    <div class="char-grid-item"> {# Right Side #}

        <details class="char-about view-pane" open>
            <summary class="view-pane-header">About {{ char.name }}:</summary>
            <div class="details-content">
                <span class="label">Personality: </span>{{ md(char.personality_traits)|safe }}
                <span class="label">Ideals: </span>{{ md(char.ideals)|safe }}
                <span class="label">Bonds: </span>{{ md(char.bonds)|safe }}
                <span class="label">Flaws:</span>{{ md(char.flaws)|safe }}
                <span class="label">Other Traits: </span>{{ md(char.features_and_traits)|safe }}
            </div>

            <div class="details-content"></div>
        </details>

         <details class="char-feature-list view-pane" open>
            <summary class="view-pane-header">Character Features:</summary>
            <div class="details-content">
                {% for f in char.features %}
                    <details class="char-feature" data-class="{{ f }}">
                        <summary>{{ f.name }}</summary>
                        <div class="feature-source"> Source: {{ f.source }}</div>
                        <div class="feature-desc">{{ f.desc_html|safe }}</div>
                        {% if f.needs_implementation %}
                            <div class="feature-impl"><strong>Requires Manual Implementation</strong></div>
                        {% endif %}

                    </details>

                {% endfor %}
            </div>
        </details>



        <details class="char-equipment view-pane" open>
            <summary class="view-pane-header">Equipment</summary>
            <details class="weapons details-content" open>
                <summary>
                    Weapons
                </summary>
                <div class="sub-content">
                    {% for weapon in char.weapons %}
                        {% include "components/inventory/weapon.html" %}
                    {% endfor %}
                </div>

            </details>

            <details class="magic-items details-content" open>
                <summary>
                    Magic Items
                </summary>
                <div class="sub-content">
                    {% for item in char.magic_items %}
                        {% include "components/inventory/magic_item.html" %}
                    {% endfor %}
                </div>

            </details>
        </details>


    </div>
    <details class="char-spell-list view-pane" open>
        <summary class="view-pane-header">Spells Prepared</summary>
        <div class="details-content">
            {% for i in range(0, 10) if (char.spell_slots(i) != 0) %}
                <div>
                    {{ af.tget(i==0, "Cantrips", ordinal(i) + " Level Spell Slots") }}:
                    {% if i != 0 %}
                        <span
                                contenteditable=""
                                style="display: inline-block; min-width: 20px"
                        >
                            {{ char.spell_slots(i) }}
                        </span>/
                    {% endif %}
                    {{ char.spell_slots(i) }}
                </div>
                {% with spells = filter(af.func("x", "return x.level == " + str(i)), char.spells_prepared) %}
                    {% include "components/spells/spell_list.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </details>
    <details class="char-spell-list view-pane">
        <summary class="view-pane-header">Spells Known</summary>
        <div class="details-content">
            {% for i in range(0, 10) if (char.spell_slots(i) != 0) %}
                <div>
                    {{ af.tget(i==0, "Cantrips", ordinal(i) + " Level Spell Slots") }}:
                    {% if i != 0 %}
                        <span
                                contenteditable=""
                                style="display: inline-block; min-width: 20px"
                        >
                            {{ char.spell_slots(i) }}
                        </span>/
                    {% endif %}
                    {{ char.spell_slots(i) }}
                </div>
                {% with spells = filter(af.func("x", "return x.level == " + str(i)), char.spells) %}
                    {% include "components/spells/spell_list.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </details>



</div>