<div class="python-console-control-pane">
    <button class="btn-primary" onclick="py_console_scroll_to_bottom()">Scroll To Bottom</button>
    <span style="padding: 0 20px">
        <label class="" for="python-console-auto-scroll-control">Auto Scroll</label>
        <input type="checkbox" class="" id="python-console-auto-scroll-control" name="auto_scroll" checked/>
    </span>
</div>
<pre id="python-console-display-area" class="python-console"></pre>
<script>

    let py_console_auto_scroll_elem = $('#python-console-auto-scroll-control');
    let py_console_elem = $('#python-console-display-area');
    let py_console_elem_dom = py_console_elem.get(0);
    let py_console_stdout_text = "";
    let _py_console_needs_to_update = false;
    let _py_console_first_render = true;


    function py_console_scroll_to_bottom() {
        py_console_elem_dom.scrollTop = py_console_elem_dom.scrollHeight;
    }
    function py_console_get_auto_scroll() {
        return py_console_auto_scroll_elem.prop('checked');
    }

    function py_console_write_stdout(write_text) {
        py_console_stdout_text += write_text;
        _py_console_needs_to_update = true;

        if (app_current_view === "python-console-view") {
            py_console_update_render();
        }
    }

    function py_console_update_render() {
        if (_py_console_first_render === true){
            py_console_stdout_text = "";
            cef_console_init();
            py_console_scroll_to_bottom();
            _py_console_first_render = false;
        }

        py_console_elem.html(py_console_stdout_text);

        if (_py_console_needs_to_update && py_console_auto_scroll_elem.prop('checked')) {
            py_console_scroll_to_bottom();
            _py_console_needs_to_update = false;
        }
    }

    exposed_functions.push(py_console_write_stdout);








</script>