{% extends "panes/campaign_view/editors/common/editor_base.html" %}

{% block unique_class %} json-editor-container {% endblock %}

{#{% block save_buttons %}

{% endblock %}#}

{% block topbar %}
    <button onclick="mod_editor_opened_tabs['{{ path }}'].data_obj.save_file()" class="filesave-btn btn-primary">SAVE</button>
    <button onclick="mod_editor_opened_tabs['{{ path }}'].data_obj.revert_file() " class="filerevert-btn btn-primary">REVERT</button>

    {% if path.endswith("campaign.json") %}
        -
        <button
            onclick="
                py.exec(
                    `game.current.load_dict(editor_json)`,
                     {editor_json: mod_editor_opened_tabs['{{ path }}'].data_obj.get_json()}
                 );
                campaign_view_update_loaded_characters();
            "
            class="filerevert-btn btn-secondary"
        >Apply Campaign Settings</button>
    {% endif %}

{% endblock %}
{% block content %}



{% endblock %}
