<div class="bottom-bar ui-bar">
    <div class="dice-roller-container">

    </div>

    <div class="tab-container">
        <button id="campaign-view-button" class="btn-secondary main-tab" onclick="
            set_view('campaign-view');
            py_console_run = false;
        ">
            <strong>Campaign</strong>
        </button>
        <button id="database-view-button" class="btn-secondary main-tab" onclick="
            set_view('database-view');
            py_console_run = false;
        ">
            <strong>Database</strong>
        </button>
        <button id="settings-editor-view-button" class="btn-secondary secondary-tab" onclick="
            set_view('settings-editor-view');
            py_console_run = false;
        ">
            <span class="fas fa-cog"></span>
        </button>
        <button id="python-console-view-button" class="btn-secondary secondary-tab" onclick="
            set_view('python-console-view');
            py_console_run = true;
            if (py_console_get_auto_scroll()) {
                py_console_scroll_to_bottom();
            }
        ">
            <span class="fas fa-desktop"></span>
        </button>
    </div>

</div>


<script>
    let current_view = "";
    function set_view(view_id) {
        views.forEach((value, index, views) => {
            let this_id = value.attr('id');

            let button_tag = this_id + "-button";

            let related_button = $("#" + button_tag);

            if (this_id === view_id){
                value.show();

                if (related_button !== null) {
                    related_button.addClass('active-view');
                }
            } else {
                value.hide();
                if (related_button !== null) {
                    related_button.removeClass('active-view');
                }
            }
        });
    }

    set_view('campaign-view');
    {#set_view('database-view');#}

</script>