<nav class="main-nav ui-bar navbar navbar-expand-sm">

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            {# <a class="nav-link btn" href="#">Link 1</a> #}
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                File
            </button>
            <div class="dropdown-menu">

                <button
                    class="dropdown-item"
                    onclick="
                        py.campaign.character.new_character()
                        .then(async (new_id)=>{
                            campaign_view_update_loaded_characters();
                            extracted_file_load(await py.campaign.character.get_char_attr(new_id, 'name'), new_id + '?char');
                        });
                    "
                >New Character</button>
                <button
                    class="dropdown-item"
                    onclick="
                        extracted_file_open_dialog();
                    "
                >Open</button>
{#                <button class="dropdown-item" onclick="">New Character</button>#}
                <button class="dropdown-item" onclick="py.quit()">Quit</button>

            </div>
        </li>
      {#  <li class="nav-item dropdown">
            #}{# <a class="nav-link" href="#">Link 2</a> #}{#
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                Edit
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                View
            </button>
            <div class="dropdown-menu">
                #}{#<button class="dropdown-item" onclick="">Open VLC Interface</button>#}{#
                #}{#<a class="dropdown-item" href="{{ url_for('pages.index') }}">Library View</a>#}{#
            </div>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                Data
            </button>
            <div class="dropdown-menu">
                #}{#                  <button class="dropdown-item" onclick="py.pak.unpack_all()">Unpack All</button>#}{#
                #}{#                  <a class="dropdown-item" href="#">Link 3</a>#}{#
            </div>
        </li>#}
        <li class="nav-item dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                Web
            </button>
            <div class="dropdown-menu">
                <span class="dropdown-item-text">Web Links:</span>
                {% for id, link in settings.current['game']['online-sources'].items() %}
                    <a class="dropdown-item" target="_blank" href="{{ link['address'] }}">{{ link['name'] }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                Help
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" onclick="py.open_debug()">Open Debug Console</button>
            </div>
        </li>
    </ul>



    <div class="tab-container">
        <button id="campaign-view-button" class="btn-secondary main-tab" onclick="
            app_set_view('campaign-view');
            py_console_run = false;
        ">
            <strong>Campaign</strong>
        </button>
        <button id="database-view-button" class="btn-secondary main-tab" onclick="
            app_set_view('database-view');
            py_console_run = false;
        ">
            <strong>Database</strong>
        </button>
        <button id="settings-editor-view-button" class="btn-secondary secondary-tab" onclick="
            app_set_view('settings-editor-view');
            py_console_run = false;
        ">
            <span class="fas fa-cog"></span>
        </button>
        <button id="python-console-view-button" class="btn-secondary secondary-tab" onclick="
            app_set_view('python-console-view');
            py_console_run = true;
            if (py_console_get_auto_scroll()) {
                py_console_scroll_to_bottom();
            }
        ">
            <span class="fas fa-desktop"></span>
        </button>
    </div>
</nav>

