<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dungeon Commander{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block style %}{% endblock %}

    <script src="/static/browserify_pack/app-bundle/app-bundle.bundle.js"></script>


    <script src="/static/libs/jquery_resizable_columns/jquery.resizableColumns.js"></script>
    <script src="/static/libs/ace-editor/ace.js"></script>
    <script src="/static/libs/cq-prolyfill.js"></script>
    <script src="/static/libs/textarea-autoresize.js"></script>



    {% if settings.current['interface']['jquery-icon-mode'] %}
        <script src="/static/libs/fontawesome-free-5.13.1-web/js/all.js" data-auto-replace-svg="nest"></script>
    {% endif %}

    {# My JS Files: #}
    <script src="/static/scripts/python_wrapper_2.js"></script>
    <script src="/static/scripts/components/sidebar.js"></script>
    <script src="/static/scripts/components/tab_section_view.js"></script>
    <script src="/static/scripts/components/time_func.js"></script>
    <script src="/static/scripts/common.js"></script>

    {% block head_scripts %}{% endblock %}

    {% if not settings.current['interface']['jquery-icon-mode'] %}
        <link rel="stylesheet" type="text/css" href="/static/styles/fa5-icons.css">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/browserify_pack/app-bundle/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/browserify_pack/app-bundle/jsoneditor.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/jquery_resizable_columns/jquery.resizableColumns.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">

</head>
<body>

{% block body %}{% endblock %}

{% block foot_scripts %}{% endblock %}
</body>
</html>