
{% extends "common/common_ui.html" %}
{% block content %}

    <div id="campaign-view" class="main-view">

        {% include "views/campaign_view.html" %}

    </div>

    <div id="database-view" class="main-view">

        {% include "views/database_view.html" %}

    </div>

    <div id="settings-editor-view" class="main-view">
        {% include "views/settings_view.html" %}

    </div>

    <div id="python-console-view" class="main-view">
        {% include "views/python_console_view.html" %}

    </div>

    <script>
        "use strict";
        const app_views = [
            $("#campaign-view"),
            $("#database-view"),
            $("#settings-editor-view"),
            $("#python-console-view")
        ];

        let app_keymap_scopes = {};
        let app_current_view = "";

        function app_init_views() {
            app_views.forEach((value, index, views) => {
                let this_id = value.attr('id');
                app_keymap_scopes[this_id] = this_id;
            });
        }


        function app_set_view(view_id) {
            app_views.forEach((value, index, views) => {
                let this_id = value.attr('id');

                let button_tag = this_id + "-button";

                let related_button = $("#" + button_tag);

                if (this_id === view_id){
                    value.show();

                    if (related_button !== null) {
                        related_button.addClass('active-view');
                    }
                } else {
                    value.hide();
                    if (related_button !== null) {
                        related_button.removeClass('active-view');
                    }
                }
            });
            app_keymap_scopes[app_current_view] = keymage.getScope();

            app_current_view = view_id;
            keymage.setScope(app_keymap_scopes[app_current_view]);
        }

        app_init_views();
        app_set_view('campaign-view');


</script>



{% endblock %}