.label {
  font-weight: bold;
}

body {
  background-color: #E6E6E6;
  font-size: 15px;
}

.ui-bar {
  color: #111111;
  background-color: #7777ff;
}

.middle-field {
  position: fixed;
  top: 40px;
  /*display: flex;*/
  left: 0;
  overflow: hidden;
  height: calc(100% - 40px);
  width: 100%;
  z-index: -5;
}
.middle-field .main-view {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a, a:visited {
  color: #111111;
  text-decoration: none;
}

a:hover {
  color: #444444;
  text-decoration: none;
}

.ace-editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5 !important;
}
.main-nav .dropdown-item-text {
  color: grey;
}

@media (min-width: 590px) {
  .main-nav {
    height: 40px;
  }
}
@media (max-width: 590px) {
  .main-nav {
    display: none;
  }
}
.tab-container {
  display: inline-block;
  top: 0;
  height: 100%;
  width: 80%;
  margin: auto 0;
  vertical-align: middle;
  text-align: right;
  align-self: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}
.tab-container button.main-tab {
  max-width: 150px;
}
.tab-container button.secondary-tab {
  width: 50px;
}
.tab-container button.active-view {
  background-color: lightgrey;
  color: black;
}

.drag-handle {
  width: 6px;
  height: 100%;
  background-color: black;
  cursor: e-resize;
  float: right;
}

.sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 300px;
}

div.sidebar-content {
  margin: 0;
  padding: 20px;
  width: calc(100% - 6px);
  float: left;
  overflow: scroll;
  overflow-wrap: unset;
}

div.campaign-dir-sidebar {
  height: calc(100vh - 320px);
}

div.quick-dice-area {
  position: absolute;
  padding: 5px;
  bottom: 0;
  width: calc(100% - 6px);
  height: 250px;
}
div.quick-dice-area .quick-dice-buttons {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.quick-dice-area .quick-dice-buttons button {
  display: block;
  width: 1fr;
}
div.quick-dice-area .quick-dice-text {
  width: 100%;
  text-align: center;
}
div.quick-dice-area .quick-dice-text input {
  width: calc(100% - 50px);
}
div.quick-dice-area .quick-dice-text button {
  width: 40px;
}
div.quick-dice-area .quick-dice-result {
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 80px;
}
div.quick-dice-area .quick-dice-crit {
  width: 100%;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 50px;
}
div.quick-dice-area .quick-dice-crit-success {
  color: greenyellow;
}
div.quick-dice-area .quick-dice-crit-failure {
  font-size: 35px;
  color: red;
}

div.sidebar-content a {
  display: block;
}

div.sidebar-content a:hover {
  background-color: #ffffff99;
  color: #5555ff;
}

div.sidebar-content summary:hover {
  background-color: #ffffff99;
  color: #5555ff;
}

div.sidebar-content a.sidebar-active {
  background-color: #ffffff;
}

.content-field {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: auto;
  padding: 10px;
  width: calc(100vw - 300px);
}

details.spell summary.spell-head {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: grey;
  height: 30px;
  background-color: silver;
  display: grid;
  grid-template-columns: 20px 1fr 80px 30px 30px 1fr 1fr 1fr 120px 1fr 1fr;
  vertical-align: center;
}
details.spell summary.spell-head .spell-head-section {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
}
details.spell summary.spell-head .spell-is-ritual, details.spell summary.spell-head .spell-is-concentration {
  font-weight: bold;
}
details.spell .spell-info .spell-info-section {
  margin: 10px 20px;
  display: inline-block;
}

#settings-editor-view .settings-buttons-area {
  padding: 10px;
}

#python-console-view .python-console-control-pane {
  height: 30px;
  width: 100%;
  padding: 0 10px;
}
#python-console-view .python-console {
  height: calc(100% - 30px);
  width: 100%;
  margin: auto;
  overflow: scroll;
  background-color: black;
  color: greenyellow;
  padding: 10px;
}

.character-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.character-view.\:container\(width\<\=800px\) {
  /* Styles for .element if its container is at least 100px wide */
  display: block;
  grid-template-columns: auto;
}
.character-view details.view-pane {
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
  max-height: 1000px;
  overflow: auto;
}
.character-view details.view-pane summary {
  height: 30px;
  background-color: silver;
}
.character-view details.view-pane summary.view-pane-header {
  border-radius: 8px;
}
.character-view details.view-pane textarea {
  width: 100%;
  resize: none;
}
.character-view details.view-pane .details-content {
  padding: 5px;
}
.character-view details.view-pane .details-content td {
  padding: 5px 5px;
}
.character-view details.view-pane .details-content th {
  padding: 10px 5px;
}
.character-view details.view-pane .sub-content {
  padding-left: 15px;
}
.character-view .label {
  font-weight: bold;
}
.character-view .char-ability-list table.details-content td.base_stat, .character-view .char-skill-list table.details-content td.base_stat {
  color: grey;
}
.character-view .char-ability-list table.details-content .modifier, .character-view .char-ability-list table.details-content .saving-throw, .character-view .char-ability-list table.details-content .score, .character-view .char-skill-list table.details-content .modifier, .character-view .char-skill-list table.details-content .saving-throw, .character-view .char-skill-list table.details-content .score {
  text-align: center;
}
.character-view .char-equipment .wallet .sub-content {
  width: 100%;
}
.character-view .char-equipment .wallet .sub-content .coin-field {
  display: inline-block;
  margin: 0 5px;
}
.character-view .char-equipment .wallet .sub-content .coin-field label {
  display: inline;
}
.character-view .char-equipment .wallet .sub-content .coin-field input {
  width: 60px;
  border: none;
  margin: 0 5px;
}
.character-view .grid-wide {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 640px) {
  .character-view {
    display: block;
    grid-template-columns: auto;
  }
}
#campaign-view .reload-btn {
  width: 100%;
}
#campaign-view .file-list, #campaign-view .char-list {
  width: 100%;
  /*overflow-x: hidden;*/
  padding: 5px 10px;
  margin: 0;
}
#campaign-view .file-list a, #campaign-view .char-list a {
  display: inline;
}
#campaign-view .file-list .close-btn, #campaign-view .char-list .close-btn {
  background-color: #00000000;
  padding: 0 10px;
}
#campaign-view .file-list .close-btn:hover, #campaign-view .char-list .close-btn:hover {
  background-color: orangered;
  color: white;
}
#campaign-view .content-field {
  padding: 0;
}
#campaign-view #content-field {
  overflow: hidden;
}
#campaign-view #content-field .tab-area {
  min-height: 30px;
  background-color: grey;
  width: 100%;
  margin: 0;
  padding-left: 5px;
  vertical-align: center;
}
#campaign-view #content-field .tab-area button {
  margin: 0;
}
#campaign-view #content-field .tab-area .fileclose-btn {
  background-color: #00000000;
}
#campaign-view #content-field .tab-area .fileclose-btn:hover {
  background-color: orangered;
  color: white;
}
#campaign-view #content-field .tab-area .editor-tab {
  background-color: lightgrey;
  height: 100%;
  display: inline-block;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}
#campaign-view #content-field .tab-area .editor-tab button {
  background-color: #00000000;
  border: none;
  height: 100%;
  margin: 0;
}
#campaign-view #content-field .tab-area .editor-tab.active-tab {
  background-color: lightsteelblue;
}
#campaign-view #content-field .editor-area {
  height: calc(100% - 30px);
  width: 100%;
}
#campaign-view #content-field .editor-area .fileclose-btn {
  background-color: #00000000;
}
#campaign-view #content-field .editor-area .fileclose-btn:hover {
  background-color: orangered;
  color: white;
}
#campaign-view #content-field .editor-area .editor-container .editor-topbar {
  min-height: 30px;
  padding-left: 10px;
}
#campaign-view #content-field .editor-area .editor-container .editor-topbar details {
  display: inline-block;
  margin-right: 30px;
}
#campaign-view #content-field .editor-area .editor-container .editor-topbar button {
  border: none;
  height: 100%;
  margin: 0;
  vertical-align: center;
}
#campaign-view #content-field .editor-area .editor-container .editor-topbar .editor-drag-handle {
  cursor: move;
}
#campaign-view #content-field .editor-area .editor-container .editor-content {
  height: calc(100% - 30px);
}
#campaign-view #content-field .editor-area .editor-container .editor-content .jsoneditor {
  min-height: 700px;
}
#campaign-view #content-field .editor-area .editor-container .editor-content .jsoneditor .jsoneditor-outer {
  height: 100%;
}
#campaign-view #content-field .editor-area .editor-container .char-display-view, #campaign-view #content-field .editor-area .editor-container .char-json-view {
  height: calc(100vh - 100px);
  overflow: auto;
}
#campaign-view #content-field .editor-area .editor-container .char-ace-view {
  height: calc(100vh - 45px);
}
#campaign-view #content-field .editor-area .editor-container .char-ace-view .char-ace-view-editor {
  position: relative;
  width: calc(100%);
  height: calc(100% - 80px);
}
#campaign-view #content-field .editor-area .editor-container .char-ace-view .char-ace-view-status {
  position: relative;
  width: calc(100%);
  padding: 0 10px;
}
#campaign-view #content-field .editor-area .editor-container .char-ace-view .char-ace-view-status.valid {
  color: green;
}
#campaign-view #content-field .editor-area .editor-container .char-ace-view .char-ace-view-status.invalid {
  color: red;
}

#database-view .section-selector {
  background-color: #007bff;
  position: absolute;
  height: 100%;
  width: 200px;
}
#database-view .section-selector button {
  display: block;
  width: 100%;
  padding: 10px;
}
#database-view .section-selector button.active {
  background-color: lightgrey;
  color: black;
}
#database-view .section-view-area {
  position: absolute;
  left: 200px;
  width: 100%;
  height: calc(100vh - 40px);
}
#database-view .section-view-area .section-view {
  width: 100%;
  height: 100%;
}
#database-view .section-view-area .section-view .list-area {
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: grey;
  overflow: auto;
}
#database-view .section-view-area .section-view .list-area .list-option {
  display: block;
  width: 100%;
  padding: 5px 10px;
}
#database-view .section-view-area .section-view .subclass-list-area {
  left: 200px;
}
#database-view .section-view-area .section-view .view-area {
  position: absolute;
  left: 200px;
  width: calc(100% - 400px);
  height: 100%;
  padding: 15px;
  overflow: auto;
}
#database-view .section-view-area .section-view .class-view-area {
  left: 400px;
  width: calc(100% - 600px);
}
#database-view .section-view-area .section-view .class-view-area .spellcasting-info {
  padding: 10px;
}
#database-view .section-view-area .section-view .class-view-area .spellcasting-info details.spellslots {
  margin-top: 20px;
}
#database-view .section-view-area .section-view .class-view-area .spellcasting-info details.spellslots summary {
  font-size: 18px;
}
#database-view .section-view-area .section-view .class-view-area .spellcasting-info details.spellslots .spellslot-table th, #database-view .section-view-area .section-view .class-view-area .spellcasting-info details.spellslots .spellslot-table td {
  padding: 5px;
}
#database-view .section-view-area .section-view .db-searchbutton {
  display: block;
  position: absolute;
  top: 0;
  width: 70px;
  height: 40px;
}
#database-view .section-view-area .section-view .db-searchbox-container {
  position: absolute;
  border: solid 2px gray;
  width: calc(100% - 270px);
  height: 40px;
  top: 0;
  left: 70px;
}
#database-view .section-view-area .section-view .db-searchbox-container .db-searchbox {
  width: 100%;
  height: 100%;
  font-size: 30px;
}
#database-view .section-view-area .section-view .table-result-area {
  position: absolute;
  left: 0;
  top: 40px;
  width: calc(100% - 200px);
  height: calc(100% - 40px);
  padding: 15px;
  overflow: scroll;
}
#database-view .section-view-area .section-view .spell-result {
  min-width: 1200px;
}

/*# sourceMappingURL=main.css.map */
