<div class="character-view">
    <div class="char-header">
        <div class="char-name">Name: {{ char.name }}</div>
    </div>

    <details class="char-race" open>
        <summary>Race: {{ char.race.name }} </summary>
        <div class="race-info"></div>
    </details>

    <details class="char-class-list" open>
        <summary>Classes:</summary>
    {% for i in range(0, char.num_classes) %}
        <details class="char-class" data-class="{{ char.class_names[i] }}">
            <summary>{{ char.class_list[i].name }} - Level {{ char.class_list[i].level }}</summary>
            <details class="char-class-desc">
                <summary>About {{ char.class_list[i].name }}s</summary>
                <p>
                    {{ char.class_list[i].desc_html|safe }}
                </p>
            </details>
            {% if char.class_list[i].subclass %}
                <details class="char-subclass-desc">
                    <summary>About {{ char.class_list[i].subclass.name }} </summary>
                    <p>
                        {{ char.class_list[i].subclass.desc_html|safe }}
                    </p>
                </details>
            {% endif %}
        </details>

    {% endfor %}
    </details>

    <details class="char-feature-list" open>
        <summary>Features:</summary>
    {% for f in char.features %}
        <details class="char-feature" data-class="{{ f }}">
            <summary>{{ f.name }}</summary>
            <div class="feature-source"> Source: {{ f.source }}</div>
            <div class="feature-desc">{{ f.desc_html|safe }}</div>
            {% if f.needs_implementation %}
                <div class="feature-impl"><strong>Requires Manual Implementation</strong></div>
            {% endif %}

        </details>

    {% endfor %}
    </details>

    <details class="char-ability-list" open>
        <summary>Ability Scores:</summary>
        {% for a in [
            "strength",
            "dexterity",
            "constitution",
            "intelligence",
            "wisdom",
            "charisma"
       ] %}
            <div class="ability {{ a }}">
                <span class="label">{{ a.capitalize() }}:</span>
                <span class="score">{{ char.get_char_attr(a).value }}</span> |
                <span class="modifier">{{ char.get_char_attr(a).modifier_str }}</span>
                {% if a in char.saving_throw_proficiencies %}
                    <span class="saving-throw">, {{ char.get_char_attr(a).saving_throw_str }} for saving throws.</span>
                {% endif %}
            </div>
        {% endfor %}
    </details>

    <details class="char-skill-list" open>
        <summary>Ability Scores:</summary>
        {% for s in [
            "acrobatics",
            "animal_handling",
            "arcana",
            "athletics",
            "deception",
            "history",
            "insight",
            "intimidation",
            "investigation",
            "medicine",
            "nature",
            "perception",
            "performance",
            "persuasion",
            "religion",
            "sleight_of_hand",
            "stealth",
            "survival"
        ] %}
            <div class="skill {{ s }}">
                <span class="label"> {{ s.title().replace("_", " ") }}</span>
                <span class="base_stat">({{ char.get_char_attr(s).base_ability.capitalize()  }})</span>:
                <span class="score">{{ char.get_char_attr(s).value_str }}</span>
                {% if s in char.skill_expertise %}
                    <span class="proficient">(Expert)</span>
                {% elif s in char.all_skill_proficiencies %}
                    <span class="proficient">(Proficient)</span>
                {% endif %}
            </div>
        {% endfor %}
    </details>


    <details class="class-prof-list" open>
        <summary>
            Other Proficiencies:
        </summary>
        <div class="weapon-profs">
            <div class="label">
                Weapons:
            </div>
            <ul class="content">
            {% for w in char.weapon_proficiencies %}
                <li>
                    {{ w.name }}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="other-profs">
            <div class="label">
                Other Proficiencies:
            </div>
            <div>
                {{ char.proficiencies_text.title() }}
            </div>
        </div>
    </details>
    <details class="char-equipment">
        <summary>Equipment</summary>
        TO BE FILLED
    </details>

    <details class="char-spell-list">
        {{ char.spell_slots(1) }}
        <summary>Spells</summary>
        {% with spells = char.spells %}
            {% include "components/spell_list.html" %}
        {% endwith %}

    </details>
</div>