<details class="class-prof-list view-pane" open>
    <summary class="view-pane-header">
        Other Proficiencies:
    </summary>
    <div class="details-content">
        <div class="weapon-profs">
            <div class="label">
                Weapons:
            </div>
            <div class="content">
            {% for w in char.weapon_proficiencies %}
                    {{ w.name }},
            {% endfor %}
            </div>
        </div>

        <div class="other-profs">
            <div class="label">
                Other Proficiencies:
            </div>
            <div class="content">
                {{ char.proficiencies_text.title() }}
            </div>
        </div>
    </div>
</details>